annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
contourpy
cycler
fastapi
filelock
fonttools
fsspec
h11
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pillow
polars
polars-runtime-321
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
python-multipart
PyYAML
requests
scipy
six
starlette
sympy
torch
torchvision
typing-inspection
typing_extensions
ultralytics
ultralytics-thop
urllib3
uvicorn
